section.main-block#main
    .main-block__inner.container
        .main-block__left
            .main-block__main-text
                h1.main-block-cta__title Не можете найти себя во фрилансе?
                p.main-block-cta__description Больше не нужно тратить время и силы на поиск заказов, вместе с Light Start вы сможете делать больше за меньшее время.
                +button('Подать заявку', 'primary')
        .main-block__right
            img(src="../img/Freelancer-bro.svg")
        .modal#order-modal-main
            +modal(true)