section.main-block#main
    .main-block__inner.container
        .main-block__left
            .main-block__main-text
                h1.main-block-cta__title Начни зарабатывать реальные деньги на 
                    span.text-blue фрилансе 
                    span прямо сейчас 
                p.main-block-cta__description Помогаем начинающим фрилансерам найти и выполнить свои первые заказы, а профессиональных фрилансеров обеспечиваем стабильным потоком заказов.
                +button('Подать заявку', 'primary')
        .main-block__right
            img(src="../img/Freelancer-bro.svg")
        .modal#order-modal-main
            +modal(true)