section.main-block
    .container
        .main-block__inner
            .main-block__left
                .main-block__main-text
                    h1.main-block__title Начни зарабатывать на фрилансе прямо сейчас
                    p.main-block__description Благодаря платформе light start, которая в кротчайшие сроки поможет увеличить ваши показатели во фрилансе
                .main-block__attention
                    p.attention__text Ты не выживешь на фрилансе без нас
                    a.attention__button(href="#problems-we-solve")
                        i(class="fas fa-arrow-down")
            .main-block__right
                form.main-block__form