.main-block {

    &__inner {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    &__left {
        width: 50%;
    }

    &__right {
        align-items: center;
        display: flex;
        width: 50%;
        max-width: 500px;
    }

    &-cta__title {
        margin-bottom: 24px;
        max-width: 800px;
        font-size: 36px;
        font-weight: 900;
        line-height: 1.3;
    }

    &-cta__description {
        margin-bottom: 36px;
        max-width: 500px;
        font-size: 18px;
        line-height: 1.5;
        color: #999;
    }
}