mixin button(text, type, className)
    if (type === 'primary')
        button.button(class= className)= text
    else
        button.button.button--secondary(class= className)= text

        .modal(id="login-form" class="modal") modal
            form
                input(type="text")