mixin button(text, type, className, orderName)
    if (type === 'primary')
        button.button(class= className data-order-name= orderName)= text
    else
        button.button.button--secondary(class= className data-order-name= orderName)= text
