-
    var problemsList = [
        {
            title: 'Тебя вытеснят конкуренты',
            details: 'Из за постоянно растущей конкуренции большое количество людей не может найти свое место в данной отросли, из-за чего может складывается ощущение, что фриланс не для всех',
            solution: 'Забудь о конкурентах. Мы возьмем их на себя. Тебе останется только выполнять заказы'
        },
        {
            title: 'Ты недостаточно упрямый',
            details: 'В одиночку, если ты не обладаешь способностью не сдаваться, ты не выживешь на фрилансе, это точно',
            solution: 'С Light Start не нужно быть упрямым, когда заказы к тебе приходят сами'
        },
        {
            title: 'Ты не понимаешь, как работает фриланс',
            details: 'Непонимание базовых аспектов и принципов фриланса не приведет к желаемому успеху и может привести к еще одному оправданию почему у тебя не получилось начать зарабатывать',
            solution: 'Мы знаем, как работает фриланс, поэтому с нами ты гарантированно будешь иметь успех на фрилансе'
        },
    ]

+section({
    title: 'Фриланс это сложно',
    description: 'Давайте рассмотрим причины, из-за которых вы можете забыть об успешной карьере фрилансера'
})
    .problems-list
        each problem, index in problemsList
            .problems-list__item
                .problems-list__left
                    .problems-list__number= `${index+1}.`
                .problems-list__right
                    h3.problems-list__title= problem.title
                    p.problems-list__text= problem.details
                    p.problems-list__solution= problem.solution

