.form {
    padding: 40px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #333;
    border-radius: 2px;

    &__title,
    &__description {
        text-align: center;
    }

    &__description {
        margin-top: 16px;
    }

    &__fields {
        flex-direction: column;
        display: flex;
        margin-top: 24px;
    }

    &__field {
        flex-direction: column;
        display: flex;
        margin-top: 16px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__label {
        margin-bottom: 8px;
        font-weight: 700;
    }

    &__input {
        padding: 12px;
        font-size: 14px;
        border: 1px solid #666;

        &:hover {
            border-color: #444;
        }

        &:active,
        &:focus {
            outline: none;
            border-color: #333;
        }
    }

    &__button {
        margin-top: 24px;
        padding: 12px 0;
        width: 100%;
        transition: all 0.2s;
        background: #EC2121;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        border: 4px solid #EC2121;
        cursor: pointer;

        &:hover {
            background: #fff;
            color: #333;
        }
    }
}
