.section {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }
}

.section__title {
    text-align: center;
}

.section__description {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}