.section {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }

    &__afterwards {
        margin: 0 auto;
        margin-top: 64px;
        text-align: center;
        font-size: 24px;
        max-width: 800px;
    }
}

.section__title {
    text-align: center;
}

.section__description {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}