section.without-columns.section-column.section#services
    .container
        .section__inner
            h2.section-h2-title Наши услуги
            .card-list
                +card(
                    'Студент',
                    'Идеальный вариант, если у вас нет портфолио и вы не уверены, что готовы выйти на фриланс. Мы найдем вам ваши первые заказы и поможем с их выполнением.',
                    '3 990 ₽',
                    '990 ₽',
                    '1 неделя',
                    'Купить',
                    'orange'
                )
                +card(
                    'Профессионал',
                    'Если вы готовы зарабатывать по крупному и сделать фриланс вашей основной работой, то это ваш выбор.',
                    '9 900 ₽',
                    '3 990 ₽',
                    '1 месяц',
                    'Купить',
                    'purple'
                )
                +card(
                    'Учёный',
                    'Если вы полностью уверены в себе, вы выполняете более 7 заказов в месяц, и фриланс это ваша жизнь, то «Учёный» — это ваш выбор.',
                    '14 900 ₽',
                    '9 900 ₽',
                    '3 месяца',
                    'Купить',
                    'mint'
                )
            .modal#order-modal
                +modal()
