section.without-columns.section.main-block
    .container
        .section__inner
            h2.section-h2-title Наши услуги
            .card-list
                +card(
                    'Студент',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    '3000 ₽',
                    '1200 ₽',
                    '3 месяца',
                    'Купить',
                    'orange'
                )
                +card(
                    'Профессионал',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    '5900 ₽',
                    '3000 ₽',
                    '3 месяца',
                    'Купить',
                    'purple'
                )
                +card(
                    'Учёный',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    '10000 ₽',
                    '6900 ₽',
                    '3 месяца',
                    'Купить',
                    'mint'
                )
            .modal#order-modal
                +modal()
