.tile {
    text-align: center;
    margin-right: 60px;

    @include media-laptop {
        max-width: 360px;
        margin-bottom: 48px;
        margin-right: 0;
    }

    @include media-mobile {
        max-width: none;
    }

    &:last-child {
        padding-right: 0;
    }

    &__image {
        width: 96px;
        height: 96px;
        fill: red;

        @include media-tablet {
            width: 72px;
            height: 72px;
        }
    }

    &__heading {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 24px;
        font-size: 20px;

        @include media-tablet {
            font-size: 18px;
        }
    }

    &__text {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 8px;
        font-size: 16px;
    }
}