.tile {
    text-align: center;
    margin-right: 60px;

    @include media-laptop {
        max-width: 360px;
        margin-top: 64px;
    }

    @include media-tablet {
        max-width: 360px;
        margin-top: 64px;
    }

    @include media-mobile {
        max-width: none;
        margin-top: 64px;
    }

    &:last-child {
        padding-right: 0;
    }

    &__image {
        width: 96px;
        height: 96px;
        fill: red;
    }

    &__heading {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 24px;
        font-size: 20px;
    }

    &__text {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 8px;
        font-size: 16px;
    }
}