extends ../layouts/main-layout

block content
    include ../blocks/main-block/main-block
    .container
        include ../blocks/problems-we-solve/problems-we-solve
        include ../blocks/what-you-get/what-you-get