.section:nth-child(2n+1) {
    background: #FAFAFA;
}
.section:nth-child(2n) {
    .section__inner {
        flex-direction: row-reverse;
    }
}

.section:not(.section-column) .section__inner {
    @include media-laptop {
        flex-direction: column-reverse !important;
    }
}

.without-columns {
    .section__inner {
        flex-direction: column;
    }
}

.section__inner {
    padding: 100px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;

    @include media-laptop {
        padding: 60px 0;
    }
}

.section.section-column {
    .section__inner {
        flex-direction: column;
    }
}

.section-text {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    width: 50%;

    @include media-laptop {
        width: 100%;
    }
}

.section__title {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;

    @include media-tablet {
        font-size: 20px;
    }
}

.section-h2-title {
    margin: 0 auto;
    margin-bottom: 64px;
    font-size: 30px;
    font-weight: 700;

    @include media-laptop {
        font-size: 24px;
        margin-bottom: 40px;
    }
}

.section__description {
    font-size: 18px;
    color: #999;
    line-height: 1.5;

    @include media-tablet {
        font-size: 16px;
    }
}

.section__picture-wrapper {
    justify-content: center;
    display: flex;
    width: 50%;
}

.section__picture {
    width: 400px;

    @include media-laptop {
        margin-bottom: 32px;
    }

    @include media-tablet {
        width: 360px;
    }
}

.card-list {
    display: flex;
    justify-content: center;

    .card {
        margin-right: 54px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}