-
    var tiles = [
        {
            title: "Поиск заказов",
            text: "Больше вам не нужно тратить время и усилия на поиск заказов, мы сами подберем заказ именно под вас",
            imgPath: "../img/experience.svg"
        },
        {
            title: "Грамотно подберем стоимость",
            text: "Если вы испытывали проблемы с установкой цены, то теперь вы можете забыть это, как страшный сон. Мы грамотно оцениваем заказы и договаривается о его стоимости",
            imgPath: "../img/portfolio.svg"
        },
        {
            title: "Поддержка",
            text: "Если вы столкивались с ситуациями, когда не знали, как решать ту или иную проблему и из-за этого выполняли работу не в срок, или даже отказывались от заказа, то это всё в прошлом. Мы поможем вам в исполнении вашего заказа",
            imgPath: "../img/clients.svg"
        },
    ]
+section({
    title: "Мы решаем ваши проблемы",
    id: "problems-we-solve"
})
    +tile-gallery(tiles)