include ./head
.header
    .container
        .header__inner
            .header__left
                a.header__logo(href="#") Light Start
                nav.header__nav
                    a.header__nav-link(href="#main") Главная
                    a.header__nav-link(href="#benefits") Преимущества
                    a.header__nav-link(href="#services") Услуги
            .header__right
                ul.header__social-links
                    a.social__link(href="")
                        <i class="fab fa-vk"></i>
                    a.social__link(href="") 
                        <i class="fab fa-instagram"></i>
                    a.social__link(href="") 
                        <i class="fab fa-telegram-plane"></i>
                    a.social__link(href="") 
                        <i class="fab fa-facebook-f"></i>>