-
    var algorithmPoints = [
        {
            title: 'Тебя вытеснят конкуренты',
            details: 'Из за постоянно растущей конкуренции большое количество людей не может найти свое место в данной отросли, из-за чего может складывается ощущение, что фриланс не для всех',
        },
        {
            title: 'Ты недостаточно упрямый',
            details: 'В одиночку, если ты не обладаешь способностью не сдаваться, ты не выживешь на фрилансе, это точно',
        },
        {
            title: 'Ты не понимаешь, как работает фриланс',
            details: 'Непонимание базовых аспектов и принципов фриланса не приведет к желаемому успеху и может привести к еще одному оправданию почему у тебя не получилось начать зарабатывать',
        },
    ]

+section({
    title: '5 простых шагов',
    description: 'Рассмотрим, как будет происходить наше сотрудничество',
    afterwards: 'И так по кругу, до тех пор, пока у вас не истечет срок подписки.'
})
    +points-list({
        pointsList: algorithmPoints,
        isCircleNumber: true
    })