.tile-gallery {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;

    @include media-laptop {
        flex-direction: column;
        align-items: center;
    }

    @include media-tablet {
        flex-direction: column;
        align-items: center;
    }

    @include media-mobile {
        flex-direction: column;
        align-items: center;
    }

    .tile:nth-child(3n),
    .tile:last-child {
        margin-right: 0;
    }

    .tile {
        margin-bottom: 64px;
    }
    .tile:nth-child(4),
    .tile:last-child {
        margin-bottom: 0;
    }

    
    @include media-laptop {
        .tile:nth-child(3),
        .tile:nth-child(4) {
            margin-bottom: 48px;
        }
    }
}