.tile-gallery {
    align-items: center;
    flex-direction: row;
    display: flex;

    @include media-laptop {
        flex-direction: column;
    }

    @include media-tablet {
        flex-direction: column;
    }

    @include media-mobile {
        flex-direction: column;
    }
}