.footer {
    background: #333;
    color: #fff;

    &__item {
        margin-bottom: 12px;
    }
}

.footer__inner {
    display: flex;
    padding: 60px 0;
    font-size: 14px;

    @include media-sm-mobile {
        flex-direction: column;
        padding: 40px 0;
    }
}

.footer-column {
    flex-direction: column;
    display: flex;
    width: 50%;

    @include media-tablet {
        flex-direction: column;
    }

    @include media-sm-mobile {
        margin-bottom: 24px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}