footer.footer
    .container
        .footer__inner
            div.footer__item Light Start. Помощь и продвижение на фрилансе
            a.footer__item.link(href="mailto:lightstart@gmail.com") lightstart@gmail.com
            a.footer__item.link(href="tel:+792093242") +792093242
            div.footer__item Все права защищены.