.section.section-column#benefits
    .container
        .section__inner
            h2.section-h2-title Также вы получаете
            +tile-gallery([
                {
                    title: 'Опыт',
                    text: 'Пользуясь услугами Light Start вы получаете опыт, который вам поможет сделать портфолио, обогатить карман увеличивая ценник за свои работы, как следствие стать более компетентным в своей области',
                    imgPath: '../img/experience.svg'
                },
                {
                    title: 'Портфолио',
                    text: 'Это то что очень сложно получить новичкам на фрилансе, мы не только сможем найти вам оплаченные первые заказы, но и хорошо заполняющие заказы для вашего портфолио.',
                    imgPath: '../img/resume.svg'
                },
                {
                    title: 'Клиентская база',
                    text: 'Самый важный пункт на который у клиентов уходят большие ресурсы, мы берём на себя.',
                    imgPath: '../img/crm.svg'
                },
                {
                    title: 'Высокие показатели дохода',
                    text: 'Мы тщательно подходим к тем заказам которые передаём вам, они имеют идеальное соотношение ценника/потраченных сил',
                    imgPath: '../img/money-bag.svg'
                },
                {
                    title: 'Экономия времени и нервов',
                    text: 'Инвестируя в нас вы открываете для себя много свободного времени без переживаний',
                    imgPath: '../img/meditate.svg'
                },
            ])