.section.section-column#benefits
    .container
        .section__inner
            h2.section-h2-title Также вы получаете
            +tile-gallery([
                {
                    title: 'Экономьте время',
                    text: 'Больше вам не нужно тратить время и усилия на поиск заказов, мы сами подберем заказ именно под ваш уровень умений',
                    imgPath: '../img/experience.svg'
                },
                {
                    title: 'Исключите риски провала',
                    text: 'Основная фишка Light Start это кураторы, которые не оставят вас одних при сложных моментах. Вы в любой момент можете обратиться за помощью',
                    imgPath: '../img/resume.svg'
                },
                {
                    title: 'Производите. Забудьте о продажах',
                    text: 'Наша задача предоставить вам возможность заниматься любимым делом на фрилансе с минимальными  затратами',
                    imgPath: '../img/crm.svg'
                },
                {
                    title: 'Исключите риски провала',
                    text: 'Основная фишка Light Start это кураторы, которые не оставят вас одних при сложных моментах. Вы в любой момент можете обратиться за помощью',
                    imgPath: '../img/money-bag.svg'
                },
                {
                    title: 'Производите. Забудьте о продажах',
                    text: 'Наша задача предоставить вам возможность заниматься любимым делом на фрилансе с минимальными  затратами',
                    imgPath: '../img/meditate.svg'
                },
            ])