* {
	box-sizing: border-box;
}

body {
	font: 16px Inter, Arial;
	line-height: 1.5;
	color: #333;
}

input, button {
	font-family: Inter;
}

::selection {
	color: #fff;
	background: #2172EC;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
input::-moz-placeholder
input::placeholder {
	color: #999;
}

img {
	width: 100%;
}

html, body, img, p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

p {font-size: 16px;}

h1 {font-size: 48px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}

.hidden {
	display: none;
}

.link {
	color: #fff;
	transition: color .1s;
	text-decoration: none;
	color: #2587ec;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;

	@include media-desktop {
		max-width: 1200px;
	}

	@include media-laptop {
		max-width: none;
	}

	@include media-tablet {
		max-width: none;
		padding: 0 40px;
	}

	@include media-mobile {
		max-width: none;
		padding: 0 20px;
	}
}

.modal {
	padding: 60px;
	border-radius: 24px;
	box-shadow: 0 0 10px 0 rgba(#333, 20%);

	@include media-sm-mobile {
		padding: 32px;
	}
}

.text-blue {
	color: #3374F2;
}

.modal a.close-modal {
	top: 32px;
	right: 32px;
	width: 20px;
	height: 20px;
	background-image: url('../src/img/cancel.svg');
}

.orange {
	.card__title {
		color: #F6450D;
	}
	
	.card__button {
		background: #F6450D;
		box-shadow: 4px 4px 20px 0px rgb(#F6450D, 20%);

		&:hover {
			background: #cc3505;
			box-shadow: 4px 4px 20px 2px rgb(#F6450D, 30%);
		}

		&:active {
			background: #F6450D;
		}
	}
}

.purple {
	.card__title {
		color: #7019DE;
	}
	
	.card__button {
		background: #7019DE;
		box-shadow: 4px 4px 20px 0px rgb(#7019DE, 20%);

		&:hover {
			background: #5a12b5;
			box-shadow: 4px 4px 20px 2px rgb(#7019DE, 30%);
		}

		&:active {
			background: #7019DE;
		}
	}
}

.mint {
	.card__title {
		color: #1DE3B4;
	}
	
	.card__button {
		background: #1DE3B4;
		box-shadow: 4px 4px 20px 0px rgb(#1DE3B4, 20%);

		&:hover {
			background: #0fbb92;
			box-shadow: 4px 4px 20px 2px rgb(#1DE3B4, 30%);
		}

		&:active {
			background: #1DE3B4;
		}
	}
}
