+section-column({
    title: 'Экономьте время',
    description: 'Больше вам не нужно тратить время и усилия на поиск заказов, мы сами подберем заказ под ваш уровень умений',
    imgSrc: '../img/Time management-bro.svg'
})
+section-column({
    title: 'Исключите риски провала',
    description: 'Основная фишка Light Start это кураторы, к которым вы можете обратиться, когда столкнулись с трудностями. Или просто за любым советом.',
    imgSrc: '../img/No data-bro.svg'
})
+section-column({
    title: 'Производите. Забудьте о продажах',
    description: 'Наша задача предоставить вам возможность заниматься любимым делом на фрилансе с минимальными  затратами',
    imgSrc: '../img/Website Creator-bro.svg'
})