+section-column({
    title: 'Экономьте время',
    description: 'С нами вам не нужно тратить время и силы на поиск заказов, мы сами подберем заказ под ваш уровень умений',
    imgSrc: '../img/Time management-bro.svg'
})
+section-column({
    title: 'Исключите риски провала',
    description: 'Основная фишка Light Start — это кураторы, к которым вы можете обратиться, если столкнулись с трудностями или просто нужен совет в развитии.',
    imgSrc: '../img/No data-bro.svg'
})
+section-column({
    title: 'Творите. Забудьте о продажах',
    description: 'Наша задача — освободить вас от оков менеджмента и дать вам возможность заниматься любимым делом на фрилансе',
    imgSrc: '../img/Website Creator-bro.svg'
})